@model EmployeeDetailViewModel

<h1>Employee</h1>
<strong><label asp-for="FirstName"></label></strong>
<p>@Model.FirstName</p>

<strong><label asp-for="LastName"></label></strong>
<p>@Model.LastName</p>

<strong><label asp-for="Age"></label></strong>
<p>@Model.Age</p>

<strong><label asp-for="Employment"></label></strong>
<p>@Model.Employment</p>

<strong><label asp-for="Id"></label></strong>
<p>@Model.Id</p>